* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {height: 100%;}

.sidebar {
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
}

.sidebar-wraper {
    padding-bottom: 200px;
}

.sidebar_menu {
    margin: 20px 0;
    color: rgb(190, 190, 190);
}

.sidebar_logo img {
    max-width: 140px;
    width: 60%;
    margin: 10px;
}

.sidebar_menu a {
    color: rgb(190, 190, 190);
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar_menu svg {
    margin: 0 20px;
}

.sidebar_menu a.sidebar_menu_selecionado {
    color: white;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
}

.sidebar_menu_item {
    margin-top: 12px;
    cursor: pointer;
    vertical-align: middle;
}


.sidebar_menu_item_componente {
    width: 30px;
    height: 30px;
    margin-left: 5%;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: black;
    font-weight: bold;
    background-color: white;
}

.sidebar_menu_componente {
    width: 30px;
    height: 30px;
    margin-left: 5%;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: black;
    font-weight: bold;
    background-color: purple;
}

.sidebar_menu_item span {
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
}

.sidebar_playlists {
    margin-top: 10px;
    border-top: 1px solid rgb(40, 40, 40);
}

.sidebar_playlists a {
    margin: 1px 10px 0;
    display: block;
    color: rgb(190, 190, 190);
    text-decoration: none;
}

.sidebar_playlists a:hover {
    color: white;
}

.main {
    width: calc(100% - 250px);
    background-color: rgb(30, 30, 30);
    height: 100%;
     
    float: left;
    padding: 15px 50px;
    overflow-y: auto;
}

.main_row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main_row_title {
    width: 100%;
}

.main_wraper {
    padding-bottom: 200px;
}

.main_row_title h2 {
    color: white;
    margin-top: 40px;
}

.main_col {
    cursor: pointer;
    width: 10%;
    margin-right: 1%;
    margin-top: 30px;

    background-color: #282828;
    border-radius: 8px;

    padding: 10px;

    text-align: left;
}

.main_col img {
    width: 100%;
}

.main_col h3 {
    color: white;
    margin: 8px;
}

.main_col p {
    color: #B3B3B3;
    margin: 0px 0;
    font-size: 13px;
    text-align: left;
}

.player {
    width: 100%;
    padding: 20px;
    height: 110px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: rgb(40, 40, 40);
}

.player_artist {
    width: 30%;
}

.player_artist img {
    max-width: 70px;
    display: inline-block;
    vertical-align: middle;
}

.player_artist h3 {
    display: inline-block;
    color: white;
    font-weight: normal;
    font-size: 18px;
    vertical-align: middle;
    margin-left: 10px;
}

.player_artist h3 > span {
    color: rgb(200, 200, 200);
    font-size: 13px;
}

.player_control {
    width: 40%;
    text-align: center;
}

.player_control_buttons a {
    color: white;
    margin: 8px 15px;
    font-size: 18px;
}

.player_control_progress {
    width: 100%;
    max-width: 500px;
    height: 7px;
    margin-top: 20px;
    position: relative;
    border-radius: 8px;
    display: inline-block;
    background: rgb(130, 130, 130);
}

.player_control_progress_2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 7px;
    border-radius: 8px;
    background-color: white;
}

@media screen and (max-width: 1700px) {
    .main_col {
        width: 20%;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
    }
    .sidebar {
        display: none;
    }
    .main_col {
        width: 48%;
        margin-right: 2%;
    }
}